<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The Best One</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tbo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.631568398850-a17cbuj348dkve3fe5lb3t3qd1if2rsp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>flutter.fooodzapp.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to the apple music</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app reuqires calendar usage</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to place an order by captureing the photo of the product</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contact usage</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is reuired to fetch neareby stores and delivery partners and to track order/delivery status.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is required to track the order/delivery status</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is required to fetch the stores near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to place an order via voice note</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires access to the motion usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo gallery to place an order via image upload</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires access to the microphone to search product by voice</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>aps-environment</key>
	<string>development</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
